USE [vocabulary_memorization_system]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.05.2026 15:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[WordLimit] [int] NULL,
	[LastQuizDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWordProgress]    Script Date: 25.05.2026 15:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWordProgress](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[WordID] [int] NULL,
	[Level] [int] NULL,
	[NextDate] [date] NULL,
	[IsWellKnown] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 25.05.2026 15:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[WordID] [int] IDENTITY(1,1) NOT NULL,
	[EngWordName] [nvarchar](255) NOT NULL,
	[TurWordName] [nvarchar](255) NOT NULL,
	[Picture] [nvarchar](500) NULL,
	[Stage] [nvarchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordSamples]    Script Date: 25.05.2026 15:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordSamples](
	[WordSamplesID] [int] IDENTITY(1,1) NOT NULL,
	[WordID] [int] NULL,
	[Samples] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[WordSamplesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Words] ON 

INSERT [dbo].[Words] ([WordID], [EngWordName], [TurWordName], [Picture], [Stage]) VALUES (1, N'agree', N'Katılmak', NULL, N'A1')
INSERT [dbo].[Words] ([WordID], [EngWordName], [TurWordName], [Picture], [Stage]) VALUES (2, N'about', N'Hakkında', NULL, N'A1')
INSERT [dbo].[Words] ([WordID], [EngWordName], [TurWordName], [Picture], [Stage]) VALUES (3, N'accident', N'Kaza', NULL, N'A2')
GO
SET IDENTITY_INSERT [dbo].[Words] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_UserName]    Script Date: 25.05.2026 15:58:30 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((10)) FOR [WordLimit]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  DEFAULT ((0)) FOR [Level]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  CONSTRAINT [DF_UserWordProgress_NextDate]  DEFAULT (CONVERT([date],getdate())) FOR [NextDate]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  DEFAULT ((0)) FOR [IsWellKnown]
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
GO
ALTER TABLE [dbo].[WordSamples]  WITH CHECK ADD FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
GO
